/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.main-title {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1.5px #7c7a7a;

  padding-top: 40px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 371px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 32px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  padding: 8px 16px;
  transition: border-color 0.3s, color 0.3s;
}

input:hover,
input:focus {
  border: 1px solid #000;
  cursor: pointer;
  outline: none;
}

input:focus,
input:active {
  border: 1px solid #4e75ff;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: auto;
  background: #4e75ff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  padding: 8px 16px;
  transition: border-color 0.3s, color 0.3s;
}

button:hover,
button:focus {
  cursor: pointer;
  background: #6c8cff;
  outline: none;
}

button:active {
  background: #3a5fb7;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  list-style-type: none;
}

.gallery_item {
  width: calc(33.333% - 16px);
  box-sizing: border-box;
  list-style-type: none;
  border: 1px solid #808080;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery_item:hover {
  transform: scale(1.05);
}

.gallery_link {
  display: block;
}

.gallery_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery_info {
  padding: 4px 25px;
  background: #fff;
}

.gallery_stats {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  color: #2e2f42;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
}

.gallery_stats p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.gallery_stats p span {
  font-weight: 400;
  /* Стандартний стиль для значень */
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery_likes,
.gallery_views,
.gallery_comments,
.gallery_downloads {
  font-weight: 600;
  /* Заголовки статистики жирним шрифтом */
  line-height: 133%;
}

.simple-lightbox img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.simple-lightbox .sl-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.hidden {
  display: none;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }

  50% {
    transform: rotate(360deg) scale(1.2);
  }

  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }

  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }

  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }

  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/* Стилі Izitoast */
.custom-toast {
  width: 432px !important;
  border-radius: 4px;
}

.custom-toast .iziToast-title,
.custom-toast .iziToast-message {
  font-size: 16px;
}

.custom-toast .iziToast-close {
  color: #fff !important;
  /* Білий колір для хрестика */
  font-size: 20px;
  /* Змінює розмір хрестика */
}
